<h1>Category</h1>


<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataCat" width="100%" cellspacing="0">
               <thead>
                   <tr>
                       <th>ID</th>
                       <th>Name</th>
                   </tr>
               </thead>

               <tfoot>
                   <tr>
                       <th>ID</th>
                       <th>Name</th>
                   </tr>
               </tfoot>
               <tbody>

            </tbody>
        </table>
    </div>
</div>